<section>
    <!-- container -->
    <div class="container mx-auto px-4">
        <div class="fit-content-container flex justify-center items-center flex-col">
            <h1 class="font-bold text-center text-[32px] md:text-[40px]">404 NOT FOUND</h1>
            <p class="font-normal text-[12px] md:text-[16px] text-[#c9c9c9] text-center">The page you are looking for
                might have
                been
                removed had
                its name changed
                or is temporarily unavailable.
            </p>
        </div>
    </div>
</section>