<!-- === App steps === -->
<section class="pt-80 mt-5 sm:pt-160 md:mt-0">
    <!-- container -->
    <div class="container mx-auto px-4">
        <hr class="w-4/5 mx-auto h-0.5 bg-gray-200 md:w-3/5" />
        <!-- title -->
        <h2 class="text-center text-black font-semibold text-4xl py-10">How the app works</h2>
        <!-- step1 -->
        <div class="flex flex-col justify-evenly items-center py-10 md:flex-row">
            <!-- img -->
            <div class="text-center mb-10">
                <img src="../assets/img/app-1.png" alt="" />
            </div>
            <!-- text -->
            <div class="text-center md:text-left">
                <!-- tag -->
                <span class="text-red-500 font-semibold">Create an account</span>
                <!-- title -->
                <h2 class="text-4xl text-blue-900 font-bold max-w-xs md:max-w-md leading-relaxed py-5 mx-auto md:mx-0">
                    Create/login
                    to an
                    existing
                    account to get
                    started</h2>
                <!-- desc -->
                <p class="text-xl text-gray-500 font-light max-w-sm mx-auto md:mx-0">An account is created with your
                    email and a
                    desired password</p>
            </div>
        </div>
        <!-- step2 -->
        <div class="flex flex-col justify-evenly items-center py-10 md:flex-row">

            <!-- img -->
            <div class="text-center mb-10 order-1 md:order-2">
                <img src="../assets/img/app-2.png" alt="" />
            </div>
            <!-- text -->
            <div class="text-center md:text-left order-2 md:order-1">
                <!-- tag -->
                <span class="text-red-500 font-semibold">Explore varieties</span>
                <!-- title -->
                <h2 class="text-4xl text-blue-900 font-bold max-w-xs md:max-w-md leading-relaxed py-5 mx-auto md:mx-0">
                    Shop for your favorites meal as e dey hot.</h2>
                <!-- desc -->
                <p class="text-xl text-gray-500 font-light max-w-sm mx-auto md:mx-0">Shop for your favorite meals or
                    drinks and enjoy while doing it.</p>
            </div>
        </div>
        <!-- step3 -->
        <div class="flex flex-col justify-evenly items-center py-10 md:flex-row">
            <!-- img -->
            <div class="text-center mb-10">
                <img src="../assets/img/app-3.png" alt="" />
            </div>
            <!-- text -->
            <div class="text-center md:text-left">
                <!-- tag -->
                <span class="text-red-500 font-semibold">Checkout</span>
                <!-- title -->
                <h2 class="text-4xl text-blue-900 font-bold max-w-xs md:max-w-md leading-relaxed py-5 mx-auto md:mx-0">
                    When you done check out and get it delivered.</h2>
                <!-- desc -->
                <p class="text-xl text-gray-500 font-light max-w-sm mx-auto md:mx-0">When you done check out and get
                    it delivered with ease.</p>
            </div>
        </div>
    </div>
</section>