<!-- === App steps === -->
<section class="mt-5 pt-80 sm:pt-160 md:mt-0">
    <!-- container -->
    <div class="container px-4 mx-auto">
        <hr class="w-4/5 mx-auto h-0.5 bg-gray-200 md:w-3/5" />
        <!-- title -->
        <h2 class="py-10 text-4xl font-semibold text-center text-black transition-colors dark:text-white">How the app
            works</h2>
        <!-- step1 -->
        <div class="flex flex-col items-center py-10 justify-evenly md:flex-row">
            <!-- img -->
            <div class="mb-10 text-center">
                <img src="../assets/img/app-1.png" alt="" />
            </div>
            <!-- text -->
            <div class="text-center md:text-left">
                <!-- tag -->
                <span class="font-semibold text-red-500 ">Create an account</span>
                <!-- title -->
                <h2
                    class="text-[1.5rem] md:text-4xl text-blue-900 font-bold max-w-xs md:max-w-md leading-relaxed py-5 mx-auto md:mx-0 transition-colors dark:text-blue-600">
                    Create/login
                    to an
                    existing
                    account to get
                    started</h2>
                <!-- desc -->
                <p
                    class="text-[16px] md:text-xl text-gray-500 font-light max-w-sm mx-auto md:mx-0 transition-colors dark:text-white">
                    An account is
                    created with your
                    email and a
                    desired password</p>
            </div>
        </div>
        <!-- step2 -->
        <div class="flex flex-col items-center py-10 justify-evenly md:flex-row">

            <!-- img -->
            <div class="order-1 mb-10 text-center md:order-2">
                <img src="../assets/img/app-2.png" alt="" />
            </div>
            <!-- text -->
            <div class="order-2 text-center md:text-left md:order-1">
                <!-- tag -->
                <span class="font-semibold text-red-500">Explore varieties</span>
                <!-- title -->
                <h2
                    class="text-[1.5rem] md:text-4xl text-blue-900 font-bold max-w-xs md:max-w-md leading-relaxed py-5 mx-auto md:mx-0 transition-colors dark:text-blue-600">
                    Shop for your favorites meal as e dey hot.</h2>
                <!-- desc -->
                <p
                    class="text-[16px] md:text-xl text-gray-500 font-light max-w-sm mx-auto md:mx-0  transition-colors dark:text-white">
                    Shop for your
                    favorite meals or
                    drinks and enjoy while doing it.</p>
            </div>
        </div>
        <!-- step3 -->
        <div class="flex flex-col items-center py-10 justify-evenly md:flex-row">
            <!-- img -->
            <div class="mb-10 text-center">
                <img src="../assets/img/app-3.png" alt="" />
            </div>
            <!-- text -->
            <div class="text-center md:text-left">
                <!-- tag -->
                <span class="font-semibold text-red-500">Checkout</span>
                <!-- title -->
                <h2
                    class="text-[1.5rem] md:text-4xl text-blue-900 font-bold max-w-xs md:max-w-md leading-relaxed py-5 mx-auto md:mx-0 transition-colors dark:text-blue-600">
                    When you done check out and get it delivered.</h2>
                <!-- desc -->
                <p
                    class="text-[16px] md:text-xl text-gray-500 font-light max-w-sm mx-auto md:mx-0 transition-colors dark:text-white">
                    When you done check
                    out and get
                    it delivered with ease.</p>
            </div>
        </div>
    </div>
</section>