<footer>
    <ng-content></ng-content>
    <div class="container px-4 mx-auto">
        <div class="flex flex-col items-center justify-between py-5 md:flex-row">
            <!-- logo -->
            <div class="w-32 md:w-full">
                <a routerLink="{{routes.home}}" routerLinkActive="active" ariaCurrentWhenActive="page"
                    class="inline-block w-fit"><img src="../assets/img/logo.png" alt="website logo" /></a>
            </div>
            <!-- contact -->
            <div class="flex items-center justify-center w-full mt-5 text-gray-500 md:justify-end">
                <!-- phone -->
                <a href="tel:901234567" class="flex mx-4">
                    <!-- icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-4 text-red-500" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path
                            d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
                    </svg>
                    <!-- number -->
                    <p class="transition-colors dark:text-white">032773***4</p>
                </a>
                <!-- email -->
                <a href="mailto:binhvnth2011019@fpt.edu.vn" class="flex mx-4 overflow-hidden">
                    <!-- icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-4 text-red-500" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                        <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                    </svg>
                    <!-- address -->
                    <p class="transition-colors dark:text-white">binhvnth2011019@fpt.edu.vn</p>
                </a>
            </div>
        </div>
        <!-- copy -->
        <div class="my-4 text-center">
            <p class="text-gray-500 transition-colors dark:text-white">Copy &copy; 2022 Bella Onojie</p>
        </div>
    </div>
</footer>