<!-- ==download== -->
<section>
    <!-- background -->
    <div class="relative bg-no-repeat bg-cover h-155" style="background-image: url('../assets/img/download.png')">
        <div class="absolute z-10 text-center text-white transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
            <!-- title -->
            <h1 class="font-bold mb-5 text-[1.8rem] max-w-2xl md:leading-relaxed md:text-5xl">Download the
                app now.</h1>
            <!-- desc -->
            <p class="text-[1rem] md:text-xl mb-5 font-light">Available on your favorite store. Start your premium
                experience now
            </p>
            <!-- buttons -->
            <div class="flex flex-col justify-center gap-3 md:flex-row md:gap-0">
                <button class="px-8 py-3 mx-4 transition-all bg-red-500 border border-transparent rounded-full hover:bg-transparent hover:border-white">Buy now</button>
                <button class="px-8 py-3 mx-4 transition-all bg-transparent border border-white rounded-full  hover:bg-red-500 hover:border-transparent">Try for free</button>
            </div>
        </div>
    </div>
</section>