/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
.c-link {
    @apply text-white transition duration-500 ease-in dark:text-white md:text-black hover:text-red-500 dark:hover:text-red-500;
}
.c-menu {
    @apply fixed top-0 left-0 z-20 flex flex-col items-center justify-center w-full h-full bg-gray-900 bg-opacity-90 md:bg-transparent md:h-auto md:flex-row md:justify-between md:static;
}

.content-container {
    min-height: calc(100vh - 148.5px - 188.5px);
}
.fit-content-container {
    height: calc(100vh - 148.5px - 188.5px);
}
.post-desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.post-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
